<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %> 
</head>

<header>
  <%- include('./partials/header') %> 
</header>

<body>
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <h5 class="card-title">TinyURL for: <%= longURL %></h5>
      <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
    </div>
  </div>


    <!-- EDIT field -->
  <div class="card-footer text-muted">
    <div class="row justify-content-md-center">  
      <h3>Edit</h3>
    </div>
    <div class="row justify-content-md-center">  
      <div id="loginOption">
        <form class="form-inline" action="/urls/<%= shortURL %>/edit" method="POST">
          <div class="form-group mb-2">
            <label for="newLongURL">New URL:</label>
            <input type="text" name="newLongURL" placeholder="http://" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!-- Bootstrap JS -->
<%- include('./partials/bootstrapJS') %>

</body>
</html>
