<!-- 

Template to display all the URLs and 
Their shortened forms.

 -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
   <%- include('./partials/head') %> 
 </head>

 <header>
   <%- include('./partials/header') %> 
 </header>
 
 <body>

  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in userUrls) { %>
          <tr>
            <td><a href="/u/<%= url %>"><%= url %></a></td>
            <td><%= userUrls[url].longURL %></td>

            <!-- edit Button -->
            <td>
              <div>
                <form action="/urls/<%= url %>" method="GET">
                  <button type="submit" class="btn btn-outline-primary">edit</button>
                </form>
              </div>
            </td>

            <!-- delete Button -->
            <td>
              <div> 
                <form action="/urls/<%= url %>/delete" method="POST">
                  <button type="submit" class="btn btn-outline-danger">delete</button>
                </form>
              </div>
            </td>
            </tr>
        <% } %>
      </tbody>
    </table>

  </main>

<!-- Bootstrap JS -->
<%- include('./partials/bootstrapJS') %>
  
  
 </body>
 </html>

